<!DOCTYPE html>
<html lang="es-ES">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/jquery.fancybox.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="stylesheets/estilos.css">
    
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="funciones/jquery.fancybox.js"></script>
        <script src="funciones/funciones.js"></script>
    
        <title>AluCine</title>
        <link rel="icon" href ="imagenes/AluCine1.png" type = "image/x-icon">
</head>
<body id="registro">

    <section class="menuLat">
        <div>
            <a href="/apIndex"><img src="/imagenes/AluCine1.png" alt=""></a>
        </div>

        <div class="opcionesLat">
            <a href="/backUsuarios/1"><i class="fas fa-user"></i>&nbsp;&nbsp;Usuarios</a>
            <a href="/backPeliculas/1"><i class="fas fa-film"></i>&nbsp;&nbsp;Películas</a>
            <a href="/backPromos/1"><i class="fas fa-percent"></i>&nbsp;&nbsp;Promociones</a>
            <a href="/backHorarios/1"><i class="fas fa-hourglass-end"></i>&nbsp;&nbsp;Horarios</a>
            <a href="/backSalas/1"><i class="fas fa-home"></i>&nbsp;&nbsp;Salas</a>
        </div>

        <div class="sesionLat">
            <p>Sesión</p>
        </div>
    </section>
    <section class="contenido">
    <h2 class="title">Añadir horario</h2>

    <form action="#" method="POST">        
        <select name="pelicula">
            <option value="">-- Película --</option>
            <option value="avengers">Los vengadores</option>
            <option value="dumbo">Dumbo</option>
            <option value="llorona">La llorona</option>
        </select>

        <select name="promo">
            <option value="">-- Promoción --</option>
            <option value="1">Promo 1</option>
            <option value="2">Promo 2</option>
            <option value="3">Promo 3</option>
        </select>

        <select name="dia">
            <option value="">-- Día --</option>
            <option value="2019">Lunes</option>
            <option value="2018">Martes</option>
            <option value="2017">Miércoles</option>
            <option value="2017">Jueves</option>
            <option value="2017">Viernes</option>
            <option value="2017">Sábado</option>
            <option value="2017">Domingo</option>
        </select>

        <select name="hora">
            <option value="">-- Hora --</option>
            <option value="2019">16:00</option>
            <option value="2018">18:00</option>
            <option value="2017">20:00</option>
            <option value="2017">22:00</option>
        </select>

        <input class="btn" type="submit" name="btnLogin" value="Añadir horario">
    </form>
</section>
</body>
</html>