<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/estilos.css">
    <link rel="stylesheet" href="stylesheets/jquery.fancybox.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/estilos.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="funciones/jquery.fancybox.js"></script>

    <title>Iniciar Sesión</title>
</head>
<body class="ap loginAp">

    <section>
        <div class="apLogin">
            <div>
                <img src="imagenes/AluCine.png" alt="logo AluCine">
            </div>
            <div>
                <form action="/iniSession" method="post">
                    <label for="user" class="inputIcon">
                        <input type="text" name="user" placeholder="Usuario...">
                        <i class="fas fa-user"></i>
                    </label>
                    <label for="pass" class="inputIcon">
                        <input type="password" name="pass" placeholder="Contraseña...">
                        <i class="fas fa-lock"></i>
                    </label>

                    <!--a href="apIndex"><input class="btn" type="button" name="btnLogin" value="Login"></a-->
                    <!--Sustituir la linea de arriba por esta-->
                    <input class="btn" type="submit" name="btnLogin" value="Login">
                </form>
            </div>
        </div>
    </section>

    <div class="sombra"></div>
</body>
</html>