<!DOCTYPE html>
<html lang="en">

<head>
  <title>HOLA MUNDO</title>
</head>

<body>
  <h1> <%= pepe %>HOLA MUNDO</h1>
  <form method="post" action="/item/add">
    <label for="name">Name</label>
    <input type="text" name="name">
    <input type="submit" value="Add">
  </form>
</body>
</html>