<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/jquery.fancybox.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/estilos.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="funciones/jquery.fancybox.js"></script>
    <script src="funciones/funciones.js"></script>

    <title>AluCine</title>
    <link rel="icon" href ="imagenes/AluCine1.png" type = "image/x-icon">
</head>
<body>
    <% include ./menu %>
    <section class="slider">
        <!--i class="fas fa-angle-left"></i>
            Slider de imágenes de películas
        <i class="fas fa-angle-right"></i-->
    </section>

    <section class="promo">
        <div class="cabecera">
            <div>
                <h2 class="title">PROMOCIONES</h2>
            </div>
            <div>
                <button class="verRojo">Ver más</button>
            </div>
        </div>
        
        <div class="caratulas">
            <% for(var i=0; i< pelis.length; i++){ %>
                <a href="detallesPelicula/<%= pelis[i]._id %>"><div><img src="<%= pelis[i].poster %>" alt=""></div></a>
            <%
                if(i==4){i = pelis.length();}
            }%>
        </div>
    </section>

    <section class="prox">
        <div class="cabecera">
            <div>
                <h2 class="title">PRÓXIMAMENTE...</h2>
            </div>
            <div>
                <button class="verGris">Ver más</button>
            </div>
        </div>
        

        <div class="caratulas">
            <a href="detallesPelicula"><div><img src="imagenes/ldcq.jpg" alt=""></div></a>
            <a href="detallesPelicula"><div><img src="imagenes/ler.jpg" alt=""></div></a>
            <a href="detallesPelicula"><div><img src="imagenes/ll.jpg" alt=""></div></a>
            <a href="detallesPelicula"><div><img src="imagenes/lve.jpg" alt=""></div></a>
            <a href="detallesPelicula"><div><img src="imagenes/dumbo.jpg" alt=""></div></a>
        </div>
    </section>

    <footer>
        <p>I.E.S PLAIAUNDI B.H.I</p>
        <p>AluCine  ©</p>
    </footer>
</body>
</html>