<div class="menu">
  <a class="logo" href="index.html">
      <img class="imgLogo" src="imagenes/AluCine1.png" alt="logo AluCine">
      &nbsp;
      &nbsp;
      <h3 id="nombreLogo">AluCine</h3>
  </a>

  <div class="menuMin" id="menuMin">
      <div id="icono" class="iconoClose">
          <a href="#"><i onclick="esconderMenu()" class="fas fa-times"></i></a>
      </div>

      <nav id="opciones">
          <a href="estrenos.html">Estrenos</a>
          <a href="cartelera.html">Cartelera</a>
          <a href="promos.html">Promos</a>
          <a href="#">Buscar</a>
      </nav>
      
      <div id="usuario">
          <a href="inicioSesion.html" class="fancybox" data-fancybox data-type="iframe">Sign in</a>
          <a class="btnRegistro" href="registro.html" class="fancybox" data-fancybox data-type="iframe">Sign up</a>
      </div>
  </div>
  
  <div id="icono">
      <a href="#"><i onclick="desplegarMenu()" class="fas fa-bars"></i></a>
  </div>
</div>
