<header class="flex">
    <div class="flex logo">
        <a href="/">
            <img src="imagenes/AluCine1.png" alt="">
            <h3>AluCine</h3>
        </a>
    </div>
    <nav id="opcionesMenu" class="flex">
        <ul class="flex">
            <li><a href="/estrenos">Estrenos</a></li>
            <li><a href="/cartelera">Cartelera</a></li>
            <li><a href="/promos">Promos</a></li>
            <li><a href="#">Buscar</a></li>
        </ul>

        <ul id="usuario"><% if(nombre==undefined){ %>
            <li><a href="ap" class="fancybox" >Sign in</a></li>
            <li><a class="btnRegistro" href="registro" class="fancybox">Sign up</a></li>
            <% }else{%>
                <h3>Bienvenido <%= nombre %></h3>
                <li><a class="btnRegistro" href="logout" class="fancybox">Salir</a></li>
            <% } %>
            
        </ul>
    </nav>
    <div class="flex bars" onclick="desplegarMenu()">
        <div id="iconHamburger" class="hamburger flex">
            <div class="medio"></div>
        </div>
    </div>
</header>