<!DOCTYPE html>
<html lang="es-ES">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/stylesheets/estilos.css">
    
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/funciones/jquery.fancybox.js"></script>
        <script src="/funciones/funciones.js"></script>
    
        <title>AluCine</title>
        <link rel="icon" href ="/imagenes/AluCine1.png" type = "image/x-icon">
</head>
<body id="registro">
    <section class="menuLat">
        <div>
            <a href="/apIndex"><img src="/imagenes/AluCine1.png" alt=""></a>
        </div>

        <div class="opcionesLat">
            <a href="/backUsuarios/1"><i class="fas fa-user"></i>&nbsp;&nbsp;Usuarios</a>
            <a href="/backPeliculas/1"><i class="fas fa-film"></i>&nbsp;&nbsp;Películas</a>
            <a href="/backPromos/1"><i class="fas fa-percent"></i>&nbsp;&nbsp;Promociones</a>
            <a href="/backHorarios/1"><i class="fas fa-hourglass-end"></i>&nbsp;&nbsp;Horarios</a>
            <a href="/backSalas/1"><i class="fas fa-home"></i>&nbsp;&nbsp;Salas</a>
        </div>

        <div class="sesionLat">
            <p>Sesión</p>
        </div>
    </section>

<div class="flex" style="flex-direction: column;width: 85vw; height: 100%; background: #ECECEC;">
        <h2 class="title">Usuario AluCine | Crea tu cuenta</h2>

        <form action="/addUsuario" method="POST">
            <input type="text" name="user" placeholder="Usuario (e-mail)*" style="background: white;">
            
            <input type="password" name="pass" placeholder="Contraseña" style="background: white;">
            <input type="password" name="pass2" placeholder="Repite la Contraseña" style="background: white;">
            <%= contrasena %>

            <input type="text" name="nombre" placeholder="Nombre*" style="background: white;">
            <input type="text" name="apellidos" placeholder="Apellidos*" style="background: white;">
            <input type="text" name="telefono" placeholder="Nº de teléfono" style="background: white;">
            <input type="text" name="dni" placeholder="Nº de DNI" style="background: white;">

            <input class="btn" type="submit" name="btnLogin" value="Crear cuenta">
        </form> 
    </div>
</body>
</html>