html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #ECECEC;
    transition: all 0.3s;
}

a:hover{
    color: #CB3030;
    transition: all 0.3s;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*   INICIO MENÚ   */

header{
    position: absolute;
    width: 100%;
    height: 13vh;
    background:black;
    z-index: 100;
}

header li:hover a{
    color: #941C2F !important;
    transition: all .3s;
}

header div{
    width: 15vw;
    height: 100%;
}

header .logo{
    margin-left: 5em;
}

header .logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3{
    color: #FFB049;
    padding-left: 10px;
}

#usuario a{
    padding: 10px;
}

#usuario{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    float: center;
    padding-right: 50px;
}

#usuario li{
    padding: 0 !important;
}

.btnRegistro{
    color:  #941C2F !important;
    border: 2px solid #941C2F;
    border-radius: 10px;
    transition: all .5s;
}

.btnRegistro:hover{
    color:  black !important;
    background: #941C2F !important;
    transition: all .5s;
}

header nav{
    width: 85vw;
    height: 100%;
    justify-content: flex-end !important;
}

header img{
    width: 3em;
    animation: rotar 1.5s;
}

nav ul{
    float: right;
    margin-right: 5em;
}

nav li{
    list-style: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    letter-spacing: 0.25em;
    line-height: 2em;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

nav li::before{
    content: "";
    width: 0;
    height: 0.15em;
    background: #941C2F;
    position: absolute;
    left: 2%;
    bottom: 0;
    transition: all 1s;
}

nav li:hover::before{
    width: 97%;
    transition: all 1s;
}

@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }    
}

.bars{
    display: none;
    cursor: pointer;
}

.hamburger{
    width: 3em;
    height: 3em;
    margin-right: 4em;
    flex-direction: column;
    transition: all 1s;
}

.medio{
    width: 2em !important;
    height: 0.20em;
    background: white;
    position: relative;
}

.medio::after, .medio::before{
    position: absolute;
    content: "";
    width: 2em;
    height: 0.20em;
    background: white;
}

.medio::after{
    top: 0.55em;
}

.medio::before{
    bottom: 0.55em;
}

.hamburger:hover .medio{
    background: #941C2F;
    transition: all .3s;
}

.hamburger:hover .medio::after, .activado:hover .medio::after{
    background: #941C2F;
    transition: all .3s;
}

.hamburger:hover .medio::before, .activado:hover .medio::before{
    background: #941C2F;    
    transition: all .3s;
}

.activado .medio{
    background: transparent;
    transition: all .3s;
}

.activado .medio::after{
    top:0;
    transform: rotate(45deg);
    transition: all 1s;
}

.activado .medio::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: all 1s;
}

@media screen and (max-width: 1393px){
    .bars{
        display: flex;
        justify-content: flex-end;
        margin-right: 2em;
        z-index: 101;
    }

    header div{
        width: 50% !important;
    }

    .logo{
        justify-content: flex-start;
        margin-left: 2em !important;
    }

    nav{
        position: absolute;
        background: black;
        top: 0;
        right: -100%;
        width: 100% !important;
        height: 100vh !important;
        transition: right 0.7s;
    }

    .desplegado{
        right: 0 !important;
    }

    nav ul{
        margin: 0 !important;
        top: 0 !important;
        padding: 0 !important;
        flex-direction: column;
        width: 100%;
    }

    nav ul li{
        margin: 5%;
    }

    nav ul li::before{
        background: #941C2F;
    }

    .hamburger, .activado{
        width: 3em !important;
        height: 3em !important;
        margin: 0;
    }
}

/*   FIN MENÚ   */

/*   INICIO DE SESIÓN   */
#inicioSesion input{
    margin: 10px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: none;
    background: #ECECEC;
    border-radius: 30px;
}

#logoSesion{
    height: 300px;
    margin: 20px;
}

#inicioSesion p{
    text-align: center;
    font-size: 14px;
}

p a{
    color: blue !important;
}

/*   FIN INICIO DE SESION   */

/*   REGISTRO   */

.title{
    color: #CB3030;
    margin-bottom: 50px;
}

#registro input{
    margin: 10px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border: none;
    background: #ECECEC;
}

/*   FIN REGISTRO   */

/*   FORMULARIOS   */

#inicioSesion, #registro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    min-width: 400px;
}

#inicioSesion form, #registro form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    background: #CB3030 !important;
    border: none;
    color: #ECECEC;
    border-radius: 30px;
    cursor: pointer;
    height: 35px !important;
    font-size: 20px !important;
}

/*   FIN FORMULARIOS   */

/*   INDEX   */

.slider{
    padding: 0;
    margin-top: 60px;
    width: 100%;
    height: 70vh;
    background: url('../imagenes/backAvengers.jpg') 50%;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider i{
    color: #ECECEC;
    font-size: 40px;
    cursor: pointer;
}

.caratulas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: all 1s;
}

.caratulas div{
    background: #ECECEC;
    width: 200px;
    height: 250px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    transition: all 1s;
}

.caratulas div img{
    height: 250px;
    width: 200px;
}

.caratulas div:hover{
    transform: scale(1.1);
    transition: transform 0.7s;
}

.promo, .prox{
    padding: 50px;
}

.prox{
    background: #941C2F;
}

.prox .title{
    color: #ECECEC !important;
    background: #941C2F;
}

.cabecera div{
    width: 50%;
}

.cabecera h2{
    float: left;
}

.cabecera button{
    float: right;
}

.verRojo{
    background: #CB3030 !important;
    border: none;
    color: #ECECEC;
    border-radius: 30px;
    cursor: pointer;
    height: 35px !important;
    font-size: 15px !important;
}

.verGris{
    background: #ECECEC !important;
    border: none;
    color: #CB3030;
    border-radius: 30px;
    cursor: pointer;
    height: 35px !important;
    font-size: 15px !important;
}

.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*   FIN INDEX   */

/*   DETALLES PELICULA   */
.esp{
    margin-left: 10%;
}
.detalles{
    width: 100%;
    height: 70vh;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecera{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgPelicula, .infoPeli{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPeli div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.infoPeli p{
    width: 100%;
    font-size: 15px;
}

.imgPelicula{
    width: 30%;
    height: 100%;
}

.imgPelicula img{
    height: 90%;
}

.infoPeli{
    width: 70%;
    height: 100%;
    padding: 100px;
}

.infoPeli div{
    width: 100%;
    height: 100%;
    background: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reparto{
    width: 100%;
    height: 50%;
    background: #941C2F;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.actor{
    border: 2px solid #ECECEC;
    border-radius: 10px;
    width: 15em;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(236, 236, 236, 0.3);
}

.actor img{
    width: 70%;
    max-height: 70%;
    border-radius: 5px;
}

.actor div{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer{
    width: 5em;
    height: 2em;
}

/*   FIN DETALLES PELICULA   */

/*   FOOTER   */

footer{
    bottom: 0px;
    height: 7vh;
    background: black;
    color: #ECECEC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*   FIN FOOTER   */

/*   AREA PRVADA  */
.loginAp{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECECEC;
}

.loginAp section{
    background: #941C2F;
    height: 25em;
    width: 40em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotate(-5deg);
}

.apLogin{
    background: #941C2F;
    height: 25em;
    width: 40em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotate(5deg);
}

.apLogin form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.apLogin img{
    height: 15em;
}

.inputIcon{
    width: 100%;
    border: none;
    border-radius: 10px;
    background: rgb(240, 240, 240);
    height: 2.7em;
    margin-bottom: 1em;
}

.inputIcon input{
    width: 90%;
    border: none;
    border-radius: 10px;
    background: rgb(240, 240, 240);
    font-size: 1.3em;
    height: 2em;
    color: rgb(61, 61, 61);
    text-align: center;
}

.inputIcon i{
    color: rgb(87, 87, 87);
}

.apLogin .btn{
    background: #941C2F !important;
    color: #FFB049 !important;
    border: 2px solid #FFB049;
    font-size: 1.4em !important;
    height: 2em !important;
    transition: all .35s;
}

.apLogin .btn:hover{
    background: rgba(255, 176, 73, 0.15) !important;
    transition: all .35s;
}

.ap{
    display: flex;
}

.ap .title{
    font-size: 2.5em;
    margin-left: 2em;
}

.menuLat{
    width: 15vw;
    height: 100%;
    background: black;
    color: #ECECEC;
    font-size: 1.5em;
}

.contenido{
    width: 85vw;
    height: 100%;
    background: #ECECEC;
}

.menuLat div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuLat img{
    height: 6.5em;
    margin-top: 2.5em;
}

.opcionesLat{
    height: 40%;
    margin-top: 4em;
    line-height: 60px;
}

.sesionLat{
    height: 20%;
    bottom: 0;
    margin-top: 2.5em;
    line-height: 60px;
}

.apOpciones{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.apOpcion{
    width: 10em !important;
    height: 10em !important;
    border: 3px solid rgb(73, 73, 73);
    border-radius: 25px;
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    color: rgb(73, 73, 73);
    transition: all .5s;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.apOpcion:hover{
    cursor: pointer;
    border: 3px solid rgb(199, 28, 28);
    color: rgb(199, 28, 28);
    transition: all .3s;
}

.apOpcion i{
    font-size: 60px;
}

.contenido div{
    width: 100%;
    height: 90%;
    margin-left: 15em;
    margin-top: 5em;
}

.new svg{
     width: 4em;
}

.new{
    color: rgb(160, 160, 160);
    font-size: 3em;
    float: left;
    margin-right: 10px; 
}

.new:hover, #bEditar:hover i, #bBorrar:hover i{
    color: #CB3030;
}

.del, .edit{
    color: rgb(160, 160, 160);
    font-size: 3.25em;
    float: left;    
    transition: all .1s;
}

#bEditar, #bBorrar{
    border: none;
    background: none;
}


.contenido form{
    margin-left: 50em;
}

.contenido form button{
    background: #CB3030;
    color: #ECECEC;
    border: none;
    border-radius: 15px;
    width: 2.25em;
    height: 1.5em;
    font-size: 1.5em;
}

.contenido form input, .contenido form select{
    background: rgb(190, 190, 190);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4em;
    width: 20%;
    height: 1.75em;
    color: rgb(85, 85, 85);
}

button:hover{
    cursor: pointer;
}

.datos{
    width: 70%;
    background: #CB3030 !important;
    border-collapse: collapse;
    overflow: hidden;
    font-size: 1.3em;
    margin-top: 3em;
    text-align: center;
    border-radius: 15px;
}

.datos tr{
    line-height: 2em;
    color: black;
}

.datos tr:nth-child(1){
    background: #CB3030 !important;
    color: #ECECEC !important;
}

.datos tr:nth-child(even){
    background: rgb(219, 219, 219);
}

.datos tr:nth-child(odd){
    background: rgb(179, 179, 179);
}

/*   FIN AREA PRVADA  */

.mantenimiento{
    width: 100%;
    height: 100%;
}

.mantenimiento img{
    width: 100%;
    height: 100%;
}


/*   CARTELERA   */

#cartelera{
    background: #941C2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 110px !important; 
    width: 100%;
    height: 100%;
}

.cabecera2{
    margin-top: 220px;
}

.cabecera2 h2{
    text-transform: uppercase;
    color: #ECECEC;
    letter-spacing: .2em;
    font-size: 2em;
}

.peliculas{
    margin-top: 50px;
}

#cartelera div{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#cartelera div a{
    margin-bottom: 3em; 
}

#cartelera div img{
    width: 250px;
}

/*   CARTELERA   */

.entradas{
    margin-bottom: 15em;
    margin-top: 1em;
}

table{
    border: 2px solid #ECECEC;
}

.butaca{
    width: 4em !important;
    height: 4em;
}



.sinop{
    background: rgba(255, 255, 255, 0.45);
    height: 200px;
    width: 50em !important;
    padding: 20px;
}


#registro{
    width: 100%;
    height: 100%;
    flex-direction: row;
}

#registro .contenido{
    flex-direction: column;
}

#contReg form{
    margin: 0;
}

#contReg form input{
    background: rgb(245, 245, 245);
}
#usuario h3{
    color: #ECECEC;
}

#horario select{
    background: rgb(184, 184, 184) !important;
    width: 80% !important;
    margin: 10px; 
}


.select{
    background: rgb(31, 226, 132) !important;
    border-top: 0.5px solid #CB3030 !important;
}

.datos tr{
    cursor: pointer !important;
}
